.container{
    width: 1920px;
    height: 1300px;
    background-color: #063455;
    margin: 0 auto;
    position: absolute;
    display:flexbox
}

.barra{
    background-color: #eeca88;
    position: relative;
    width: 100%;
    height: 7%;
    text-align: center;
    display: flex
}

.mini{
    background-color: #eeca88;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    width: 90%;
    margin-top: 30px;
}

.fotos{
    background-color: #eeca88;
    width: 50%;
    height: 700px;
    text-align: center;
    border-radius: 20px;
}

.menu{
    background-color: #eeca88; 
    width: 50%;
    height: 700px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.descripcion{
    background-color:#eeca88; 
    width: 90%;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

.titulo{
    border-radius: 20px;
    border: solid black;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.precio{

    width: 40%;
    position: absolute;
    left: 30px;
    top: 160px;
    text-align: left;
    padding-left: 20px;
    font-size: x-large;
}

.metodo{
    color:#063455 ;
    width: 40%;
    position: absolute;
    left: 30px;
    top: 280px;
    cursor: pointer;
}

.metodo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    border-radius: 50px;

  }

.color{
    border-radius: 20px;
    width: 40%;
    height: 10%;
    position: absolute;
    right: 70px;
    top: 160px;
    display: flex;
}

.colorcolor{
    border-radius: 20px;
    position: absolute;
    width: 40%;
    font-size: larger;
    bottom: -6px;
}

.color_desplegable{
    border-radius: 20px;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 120px;
    top: 15px;
    cursor: pointer;
}

.option{
    border-radius: 20px;
    width: 100%;
    height: 60%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.cantidad{
    width: 40%;
    height: 90px;
    position: absolute;
    right: 70px;
    top: 280px;
    display: flex;
}

.boton{
    color: white;
    background-color: #EB274B;
    border-radius: 50px;
    border: solid black;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
    cursor: pointer;
}


.boton:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

.boton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    background-color: #EB274B;
    color: white;
    border-radius: 50px;
  }

  .boton:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }

.desc{
    border: solid black;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 80%;
    top: 20px;
}

.carrusel{
    background-color: #eeca88;
    width: 80%;
    margin: 0 auto;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.carrusel img.active {
    opacity: 1;
}

.carrusel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.carrusel .anterior{
    margin-right: 20px;
    left: 20px;
}

.carrusel .siguiente{
    right: 10px;
}

.talles{
    position: absolute;
    height: 100%;
    font-size: larger;
}

.talles_talles{
    position: absolute;
    height: 100%;
    left: 100px;
}

.boton_talle{
    border-radius: 10px;
    height: 40%;
    width: 40px;
    position: relative;
    top: 27px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.container_boton{
    display:inline
}

.anterior{
    height: 40px;
    width: 40px;
    font: bold;
    font-size: x-large;
    cursor: pointer;
}

.siguiente{
    height: 40px;
    width: 40px;
    font: bold;
    font-size: x-large;
    cursor: pointer;
}

.back{

    width: 80px;
    display: inline; 
    position: absolute;
    height: 100%;
    left: 20px;
}

.perfil{

    width: 80px;
    display: inline; 
    position: absolute;
    height: 100%;
    margin: 0 auto;
    left: 950px;
}

.carrito{
    position: absolute;
    width: 80px;
    right: 20px;
    height: 100%;
}

.iconoPerfil{
   position: relative;
   top: 25px;
   left: 8px;
   width: 50px;
   height: 50px;
   cursor: pointer;
}


.iconoPerfil:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    border-radius: 20px;
}

.iconoCarrito{
    position: relative;
   top: 25px;
   left: 8px;
   width: 50px;
   height: 50px;
   cursor: pointer;
}

.iconoCarrito:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    border-radius: 20px;
}

.iconoBack{
    position: relative;
    top: 25px;
    left: 8px;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.iconoBack:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    border-radius: 20px;
}